@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
    --font-play: 'Play', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    --font-size-normal: 0.9vw;

    --color-white: #ffffff;
    --color-white-gray: #f6f6f6;
    --color-light-gray:  #eeeeee;
    --color-gray: #e3e3e3;
    --color-dark-gray: #aaaaaa;
    --color-instock: #64cb83;
    --color-outofstock: #fe4545;
    --color-theme: #20d3c2;
    --color-dark-theme: #0e153d;
}

*,*::before,*::after{
    padding: 0;
	margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:focus{
    outline: 1px solid var(--color-dark-theme);
}
:focus:not(:focus-visible){
    outline: none;
}
body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: var(--font-roboto), sans-serif;
    cursor: default;
}

.bg-theme {
    grid-column: 1 / -1;
    padding: 0% 16%;
    background-color: var(--color-theme);
    color: var(--color-white);
}


.bg-dark-theme {
    background-color: var(--color-dark-theme);
    color: var(--color-white);
}
    .bg-dark-theme a {
        color: var(--color-theme);
        text-decoration: none;
    }
        .bg-dark-theme a:hover {
            color: var(--color-white);
        }


.top-menu .container {
    /* height: 40px; */
    height: 3.2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-menu p{
    font-size: calc(var(--font-size-normal) * 1.2);
}
.top-menu .site-settings{
    border-right : 1px var(--color-white) solid;
    height: 100%;
    display: flex;
    align-items: center;
}
.top-menu .site-settings .menu{
    height: 100%;
}
.top-menu .site-settings a {
    color: var(--color-white);
    text-decoration: none;
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
}
    .top-menu .site-settings a:hover {
        color: var(--color-dark-theme);
    }
    .top-menu .site-settings a > svg{
        stroke: white;
        margin-left: 10%;
        margin-top: 5%;
        width: calc((1 * 14) * 0.08333vw);
    }
        .top-menu .site-settings .submenucontainer a:hover{
            color: var(--color-dark-theme);
        }

    .menu{
        position: relative;
    }
    .dropdown{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-bottom-left-radius: calc((1 * 5) * 0.08333vw);
        border-bottom-right-radius: calc((1 * 5) * 0.08333vw);
        border-right: 1px solid white;
        height: calc((1 * 100) * 0.08333vw);
        font-size: calc(var(--font-size-normal) * 1.2);
        background-color: var(--color-theme);
    }
    .menu1 .dropdown1{
        visibility: hidden;
    }
    .menu2 .dropdown2{
        width: 150%;
        visibility: hidden;
    }
    .menu1 .btn:hover + .dropdown1{
        visibility: visible;
    }
    .menu1 .btn:focus + .dropdown1{
        visibility: visible;
    }
    .menu2 .btn:hover + .dropdown2{
        visibility: visible;
    }
    .menu2 .btn:focus + .dropdown2{
        visibility: visible;
    }
    .dropdown:hover{
        visibility: visible;
    }
    .dropdown:focus{
        visibility: visible;
    }

    
    

.top-menu .links {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
}

    .top-menu .links a {
        color: var(--color-white);
        text-decoration: none;
        padding: 5px 10px;  
    }
    
        .top-menu .links a:hover {
            color: var(--color-dark-theme);
        }
        .top-menu .links .border{
            height: 100%;
            border-right: 1px var(--color-white) solid;
            display: flex;
            align-items: center;
        }
    .socialmedia{
        height: 100%;
        display: flex;
        align-items: center;
    }
    .top-menu .links .socialmedia {
        margin-left: 30px;
    }
        .top-menu .links .socialmedia > a {
            height: 100%;
            padding: 0px 12px;
            display: flex;
            align-items: center;
        }
        .top-menu .links .socialmedia a i{
            font-size: calc((1 * 16) * 0.08333vw);
        }

.topsection-container{
    grid-column: 3 / -3;
}
    .topsection{
        height: 100px;
        height: 8.333vw;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
        .topsection h1{
            font-weight: normal;
            font-size: calc((1.8 * 16) * 0.08333vw);
        }
        .topsection img{
            /* height: 1.3rem; */
            height: 1.7vw;
        }
        .topsection .searchbar{
            /* width: 400px; */
            width: 32vw;
            height: calc((1 * 35) * 0.08333vw);
            /* margin-left: 60px; */
            
            display: grid;
            grid-template-columns: 5fr auto 1fr;
            text-align: center;
        }
            .topsection input{
                height: 100%;
                border: 1px solid var(--color-gray);
                border-top-left-radius: 45px;
                border-bottom-left-radius: 45px;
                padding-left: 9%;
            }
                    .topsection input::placeholder {
                        font-size: var(--font-size-normal);
                        font-weight: normal;
                        color: var(--color-dark-gray);
                    }
                    .topsection input:focus{
                        outline: none;
                        border: 1px solid #20d3c2;
                    }
            .topsection .categories{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                font-size: calc((.6 * 16) * 0.08333vw);
                border-top: 1px solid var(--color-gray);
                border-bottom: 1px solid var(--color-gray);
            }
                    .topsection .categories i{
                        margin-left: calc((1 * 8) * 0.08333vw);
                        margin-right: calc((1 * 8) * 0.08333vw);
                        font-size: calc((1 * 10) * 0.08333vw);
                        color: var(--color-theme);
                    }
                    .topsection .categories h1{
                        margin-left: calc((1 * 10) * 0.08333vw);
                        font-size: var(--font-size-normal);
                        font-weight: 400;
                        color: var(--color-dark-theme);
                        opacity: .9;
                    }
            .topsection .search{
                background-color: #20d3c2;
                border-end-end-radius: 45px;
                border-start-end-radius: 45px;

                height: 100%;
                padding-left: 2px;
                padding-right: 5px;
                display: flex;
                justify-content: center;
            }
                .topsection .search svg{
                    /* width: 20px; */
                    width: calc((1 * 20) * 0.08333vw);
                    margin: auto 0;
                }
    .topsection .right-menu{
        display: grid;
        grid-template-columns: 3fr .65fr .65fr 1.5fr;
        grid-gap: .5rem;
    }
    .topsection .right-menu a{
        grid-column: span 1;
        display: flex;
        align-items: center;
        color: black;
    }
    .topsection .right-menu p{
        font-size: var(--font-size-normal);
        font-weight: normal;
    }
    .topsection .right-menu a:nth-of-type(1) p{
        /* margin-left: 7px; */
        margin-left: calc((1 * 7) * 0.08333vw);
    }
    .topsection .right-menu a:nth-of-type(4) p{
        margin-left: calc((1 * 7) * 0.08333vw);
    }
    .topsection .right-menu a img{
        /* width: 15px; */
        width: calc((1 * 15) * 0.08333vw);
        position: relative;
    }
    .topsection .right-menu .bag{
        margin-bottom: 4%;
    }
    .topsection .right-menu .amount-container{
        position: absolute;
        color: var(--color-white);
        background-color: var(--color-theme);
        border-radius: 100%;
        width: calc((1 * 14) * 0.08333vw);
        height: calc((1 * 14) * 0.08333vw);
        font-size: calc((1 * 10) * 0.08333vw);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: .7%;
        margin-bottom: 1.2%;
    }

.lowertopsection-container{
    grid-column: 1 / -1;
    padding: 0% 16.8%;
    border-top: 1px #E3E3E3 solid;
}
    .lowertopsection-container .lowertopsection{
        height: calc((1 * 40) * 0.08333vw);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .lowertopsection-container .lowertopsection a:nth-of-type(1){
        height: 100%;
        padding: 0% 1%;
        width: 25%;
        background-color: var(--color-theme);
        color: var(--color-white);
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: calc(var(--font-size-normal) * 1.25);
    }
    .lowertopsection-container .lowertopsection a:nth-of-type(2){
        height: 70%;
        background-color: var(--color-theme);
        color: var(--color-white);
        border-radius: 45px;
        display: flex;
        align-items: center;
        padding: 2% 2%;
        font-weight: bold;
        font-size: var(--font-size-normal);
    }
    .lowertopsection-container .lowertopsection img{
        width: calc((0.75 * 16) * 0.08333vw);
    }

.landingpage-container{
    grid-column: 1 / -1;
    height: 40vw;
    background-color: var(--color-light-gray);
    background-image: url(../img/banner-thumb.svg);
    background-repeat: no-repeat;
    background-position: 70% 10%;
    background-size: contain;
}
    
    .ladningpagesection-container{
        /* margin: 7% 16.5%; */
        margin: 7vw 16.5%;
        transform-origin: left;
    }
    /* ------------------------------ */
    .landingpagesection .title .element:nth-of-type(1){
        font-weight: normal;
        font-size: 30px;
        font-size: 2.500vw;
    }
    .landingpagesection .title .element:nth-of-type(2){
        margin-top: 0.667vw;
        font-size: calc((2.8 * 16) * 0.08333vw);
        color: var(--color-theme);
        font-weight: bold;
    }
    .landingpagesection .title .element:nth-of-type(3){
        margin-top: calc((1 * 16) * 0.08333vw);
        /* margin-top: 1.333vw; */
        font-size: calc((1 * 16) * 0.08333vw);
        width: 38%;
        font-size: calc((.8 * 16) * 0.08333vw);
        line-height: calc((1.4 * 16) * 0.08333vw);
        font-weight: normal;
    }
    /* ------------------------------ */
       .landingpagesection a .shopnow{
            margin-top: 2rem;
            margin-top: 2.500vw;
            background-color: var(--color-white);
            height: calc((2.5 * 16) * 0.08333vw);
            width: fit-content;
            padding: 0% 2.5%;
            border-radius: 45px;
            display: flex;
            align-items: center;
       }
       .landingpagesection .shopnow h1{
            font-size: 1rem;
            font-size: calc((1 * 16) * 0.08333vw);
            font-weight: bold;
            color: var(--color-theme);
       }

.section1-container{
    grid-column: 2 / -2;
    height: fit-content;
}
.section1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.2rem;
}
    .section1 a{
        margin-top: 10vw;
        padding: 7%;
        /* height: 85px; */
        height: calc((1 * 85) * 0.08333vw);
        border-radius: 5px;
        background-color: #edfcfa;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        grid-gap: 1.5rem;
        grid-gap: calc((1.5 * 16) * 0.08333vw);
    }    
        .section1 a:nth-child(2){
            background-color: #20d3c2;
        }
        .section1 a:nth-child(2) span h1{
            color: white;
        }
        .section1 a:nth-child(2) span p{
            color: white;
        }

    .section1 img{
        grid-column: 1 / 2;
        padding: 15%;
        width: 50px;
        width: calc((1 * 50) * 0.08333vw);
    }
    .section1 span{
        grid-column: 2 / -1;
        height: 100%;
    }
    .section1 h1{
        color: var(--color-theme);
        font-size: .8rem;
        font-size: calc((.8 * 16) * 0.08333vw);
    }
    .section1 p{
        color: black;
        opacity: .9;
        font-size: .7rem;
        font-size: calc((.7 * 16) * 0.08333vw);
        margin-top: 5px;
        margin-top: calc((1 * 5) * 0.08333vw);
    }

.section2-container{
    grid-column: 3 / -3;
    text-align: center;
}       
        .categories-container{
            height: calc((1 * 440) * 0.08333vw);
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: 
            "men women women kids kids"
            "shoes shoes hats kids kids"
            "shoes shoes sunglasses sunglasses watches";

            grid-gap: .4rem;

            font-size: calc((.3 * 16) * 0.08333vw);
            color: var(--color-theme);
        }
            .categories-container div{
                border-radius: 5px;
                background-color: var(--color-dark-gray);
                display: flex;
                align-items: flex-end;
            }
            .categories-container .textholder{
                background-color: var(--color-dark-theme);
                border-radius: 0px 5px 0px 5px;
                width: 50%;
                height: calc((1.5 * 16) * 0.08333vw);

                text-align: left;
                padding: 0% 3%;
            }
            .categories-container .categorycontainer:nth-child(6) .textholder{
                height: calc((3 * 16) * 0.08333vw);
            }
            .categories-container .textholder span{
                margin: auto 0;
            }
            .categories-container .textholder p{
                color: var(--color-white);
                font-size: calc((.5 * 16) * 0.08333vw);
                margin-top: calc((1 * 4) * 0.08333vw);
            }
            .categories-container .men{
                grid-area: men;
            }
            .categories-container .women{
                grid-area: women;
            }
            .categories-container .kids{
                grid-area: kids;
            }
            .categories-container .shoes{
                grid-area: shoes;
            }
            .categories-container .hats{
                grid-area: hats;
            }
            .categories-container .sunglasses{
                grid-area: sunglasses;
            }
            .categories-container .watches{
                grid-area: watches;
            }


.section3-container{
    grid-column: 3 /-3;
}
    .section3{
        text-align: center;
    }
        .section3 h1 span{
            color: var(--color-theme);
        }
        .scrollbaritems-container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1.5em;
        }
        .scrollbaritems-container .item{
            height: 300px;
            font-size: .5rem;
            position: relative;
        }
        .section3 .scrollbaritems-container .man{
            background-color: var(--color-light-gray);
            background-image: url(../img/Productthumb10.svg);
            background-size: cover;
            background-position: center;
            
        }
        .section3 .scrollbaritems-container .coat{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: var(--color-light-gray);
            background-image: url(../img/Product\ thumb9.svg);
            background-size: contain;
            background-position: top;
        }
        .section3 .scrollbaritems-container .woman{
            background-color: var(--color-light-gray);
            background-image: url(../img/Product\ thumb-7.svg);
            background-size: contain;
            background-position: top;
        }
    .scrollindicator-container{
        width: 50px;
        margin: 0% auto;
        margin-top: 20px;
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
        .scrollindicator-container .scrollindicator{
            margin: 0 auto;
            width: 10px;
            height: 10px;
            background-color: var(--color-dark-gray);
            border-radius: 3px;
        }
        .scrollindicator-container .scrollindicator:nth-of-type(2){
            background-color: var(--color-theme);
        }



.section4-container{
    grid-column: 1 / -1;
}
    .section4{
        height: calc((1 * 250) * 0.08333vw);
        background-color: var(--color-dark-gray);
        padding: 0% 16.7%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .section4 .sale-container{
        background-color: var(--color-theme);
        width: 20%;
        color: var(--color-white);
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
        .section4 .sale-container .wrapper{
            margin: 0 auto;
        }
        .section4 .sale-container h1{
            font-size: calc((2.7 * 16) * 0.08333vw);
        }
        .section4 .sale-container span{
            font-size: calc((1.32 * 16) * 0.08333vw)
        }
        .section4 .sale-container p{
            font-size: calc((.7 * 16) * 0.08333vw);
            font-weight: bold;
            margin: 10% 0%;
        }
        .section4 .sale-container .btn-container{
                margin-top: calc((1 * 15) * 0.08333vw);
                font-size: calc((.7 * 16) * 0.08333vw);
                background-color: var(--color-dark-theme);
                width: fit-content;
                padding: 3% 15%;
                border-radius: 45px;
                margin: 0 auto;
        }
    .section4 .learnmore-container{
        width: 44%;
        color: var(--color-white);
        font-size: calc((.8 * 16) * 0.08333vw);
        line-height: calc((1.2 * 16) * 0.08333vw);
    }
        .section4 .learnmore-container .btn-container{
            margin-top: calc((1 * 15) * 0.08333vw);
            font-size: calc((.8 * 16) * 0.08333vw);
            font-weight: bold;
            background-color: var(--color-white);
            color: var(--color-theme);
            width: fit-content;
            padding: 3% 5%;
            border-radius: 45px;
        }

.section5-container{
    grid-column: 3 /-3;
}
    .section5{
        text-align: center;
    }
        .section5 h1 span{
            color: var(--color-theme);
        }
        .scrollbaritems-container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: calc((1.5 * 16) * 0.08333vw);
        }
        .scrollbaritems-container .item{
            height: calc((1 * 300) * 0.08333vw);
            font-size: calc((.5 * 16) * 0.08333vw);
            position: relative;
        }
        .scrollbaritems-container .man{
            background-color: var(--color-light-gray);
            background-image: url(../img/Product\ thumb-3.svg);
            background-size: contain;
            background-position: top;
        }
        .scrollbaritems-container .coat{ /*window*/
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: var(--color-light-gray);
            background-image: url(../img/Product\ thumb9.svg);
            background-size: contain;
            background-position: top;
        }
        .scrollbaritems-container .woman{
            background-color: var(--color-light-gray);
            background-image: url(../img/Product\ thumb-4.svg);
            background-size: contain;
            background-position: top;
        }
    .scrollindicator-container{
        width: calc((1 * 50) * 0.08333vw);
        margin: 0% auto;
        margin-top: calc((1 * 20) * 0.08333vw);
        margin-bottom: calc((1 * 60) * 0.08333vw);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
        .scrollindicator-container .scrollindicator{
            margin: 0 auto;
            width: calc((1 * 10) * 0.08333vw);
            height: calc((1 * 10) * 0.08333vw);
            background-color: var(--color-dark-gray);
            border-radius: 3px;
        }
        .scrollindicator-container .scrollindicator:nth-of-type(2){
            background-color: var(--color-theme);
        }

.section6-container{
    grid-column: 1 / -1;
    background-color: var(--color-dark-theme);
}
    .section6{
        padding: 0% 16.7% ;
        height: calc((1 * 300) * 0.08333vw);
        display: flex;
        justify-content: space-between;
    }
        .section6 .flashsalecontainer{
            background-color: var(--color-theme);
            width: 30%;
            color: var(--color-white);
            padding: calc((1 * 20) * 0.08333vw);
            text-align: center;
            width: 20%;
            height: 50%;
        }
            .section6 .flashsalecontainer h1{
                font-size: calc((2 * 16) * 0.08333vw);
            }
            .section6 .flashsalecontainer p{
                margin-top: calc((1 * 10) * 0.08333vw);
                font-size: calc((1 * 16) * 0.08333vw);
            }
        .section6 .timeshopnow-container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            width: 55%;
            align-self: center;
            height: fit-content;
        }
            .section6 .dottedtimecontainer{
                grid-column: span 1;
                width: calc((1 * 80) * 0.08333vw);
                height: calc((1 * 80) * 0.08333vw);
                margin: 0 auto;
                background-color: var(--color-white);
                border-radius: 100%;
                outline: 2px var(--color-theme) dashed;
                display: flex;
                align-items: center;
                align-content: center;

            }
                    .section6 .dottedtimecontainer span{
                        width: 100%;
                        text-align: center;
                    }
                    .section6 .dottedtimecontainer h1{
                        font-size: calc((2 * 16) * 0.08333vw);
                        line-height: calc((2.3 * 16) * 0.08333vw);
                        color: var(--color-theme);
                    }
                    .section6 .dottedtimecontainer p{
                        text-align: center;
                        font-size: calc((.6 * 16) * 0.08333vw);
                    }
            .section6 .btn-container{
                grid-column: 1 / -1;
                margin-top: calc((1 * 30) * 0.08333vw);
            }
                .section6 .btn{
                            height: calc((1 * 40) * 0.08333vw);
                            width: calc((1 * 130) * 0.08333vw);
                            margin: 0 auto;
                            display: flex;
                            justify-content: center;

                            background-color: var(--color-white);
                            color: var(--color-theme);
                            border-radius: 45px;
                        }
                            .section6 .btn h1{
                                margin: auto 0;
                                font-size: calc((1 * 16) * 0.08333vw);
                            }

.section7-container{
    grid-column: 3 / -3;
}
    .section7{
        font-size: calc((1 * 16) * 0.08333vw);
        margin-bottom: calc((1 * 75) * 0.08333vw);
    }
    .section7 .content-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "first second"
        "first third";
        grid-gap: .5rem;
        height: calc((1 * 500) * 0.08333vw);
    }
        .section7 .content-container .card{
            background-color: var(--color-light-gray);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            position: relative
        }
        .card .logo{
            width: calc((1 * 125) * 0.08333vw); border-radius: 4px; margin: 5%; background-color: white; padding: 5%;
            position: absolute;

        }
        .card .universal-lowerbar{
            height: calc((1 * 45) * 0.08333vw);
        }
            .section7 .content-container .card:nth-of-type(1){
                grid-area: first;
                background-image: url(../img/Product\ thumb.svg);
                background-size: contain;
            }
            .section7 .content-container .card:nth-of-type(2){
                grid-area: second;
                background-image: url(../img/Product\ thumb-1.svg);
                background-position: top;
            }
            .section7 .content-container .card:nth-of-type(3){
                grid-area: third;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-image: url(../img/Shoes.svg);
                background-position: center;
            }
            .section7 .universal-lowerdescription{
                padding: 4% 4%;
            }

                         
                                


.footer-container{
    grid-column: 1 / -1;
}
    .footer{
        height: calc((1 * 250) * 0.08333vw);
        background-color: var(--color-light-gray);
        display: grid;
        /* grid-template-rows: 250px 60px; */
        grid-template-rows: 20.833vw 5vw;
        
    }
        .top-container{
            padding: 0% 16.7%;
            display: grid;
            grid-template-columns: 3fr 1fr 50%;
            height: 100%;
        }
        .subscribe-text-container{
            grid-column: 1 / 2;
            align-self: center;
            height: fit-content;
        }
        .subscribe-text-container p{
            margin: 3% 0%;
            padding: 0% 5% 0% 0%;
            font-size: calc((.7 * 16) * 0.08333vw);
            line-height: calc((1.4 * 16) * 0.08333vw);
        }
            .subscribe-text-container span{
                color: var(--color-theme);
            }
            .subscribe-text-container h1{
                font-size: calc((2 * 16) * 0.08333vw);
            }
            .subscribe-text-container .input-container {
                display: grid;
                height: calc((1 * 35) * 0.08333vw);
                position: relative;
                margin-top: calc((1.2 * 16) * 0.08333vw);
            }
                .input-container{
                    display: grid;
                }
                .input-container input{
                    border: 1px gray solid;
                    border-radius: 65px;
                    padding-left: 6%;
                    font-size: var(--font-size-normal);
                }
                .input-container input:focus{
                    outline: none;
                    border: 1.5px solid #20d3c2;
                }
                .input-container .button{
                    position: absolute;
                    right: 1.2%;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 85%; 
                    width: calc((1 * 85) * 0.08333vw);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--color-theme);
                    color: var(--color-white);
                    border-radius: 65px;
                    text-align: center;
                    transform-origin: top;
                    transition: scale ease-in-out .02s;
                    
                }
                .input-container .button:hover{
                    filter: brightness(102%);
                    cursor: pointer;
                    scale: 1.05;
                }
                .input-container p{
                    font-size: var(--font-size-normal);
                    padding: 0;
                }

        .subscribe-image-container{
            grid-column: 3 / -1;
            background-color: var(--color-dark-gray);
        }
        .footer .bottom-container{
            grid-column: 1 / -1;
            grid-row: 2 / 3;
            padding: 0% 16.7%;
            height: 100%;
            background-color: black;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--color-white);
            position: relative;
            align-self: flex-end;
        }
            .footer .bottom-container p{
                font-size: calc((.8 * 16) * 0.08333vw);
            }
            .footer .bottom-container img{
                width: calc((1 * 55) * 0.08333vw);
            }



/* UNIVERSAL BUTTON */
    .btn{
        transition: all ease .07s;
    }
    .btn:hover{
        cursor: pointer;
        transform: scale(1.03);
        filter: brightness(102%);
        filter: hue-rotate(-2deg);
    }
    


/* UNIVERSAL BARS AND MENU */
.universal-round-sticker{
    width: calc((1 * 45) * 0.08333vw);
    height: calc((1 * 45) * 0.08333vw);
    border-radius: 100%;
    margin: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-size: calc((.4 * 16) * 0.08333vw);
}
.new{
    background-color: var(--color-theme);
}
.hot{
    background-color: #FE4545;
}
.off{
    background-color: #64CB83;
}

.universal-lowerbar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    padding: 0% 6%;
    background-color: var(--color-dark-theme);
    color: var(--color-white);
    font-size: calc((.7 * 16) * 0.08333vw);
}


/* UNIVERSAL DESCRIPTION */
/* -------------------------------------------------------------------- */
.description-container{
    text-align: center;
}
.description-container h1{
    margin-top: calc((1 * 70) * 0.08333vw);
    font-size: calc((1.7 * 16) * 0.08333vw);
}
.description-container span{
    color: var(--color-theme);
}
.description-container svg{
    width: calc((1 * 200) * 0.08333vw);
    margin: 2vw 0vw;
}
.description-container  p{
    margin-bottom: calc((1 * 30) * 0.08333vw);
    font-size: calc((.8 * 16) * 0.08333vw);
}

/* -------------------------------------------------------------------- */
/*low code*/
/*UNIVERSAL LOWER THIRD*/
.universal-lowerthird-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(
        hsl(231 63% 15% / .8),
        hsl(231 63% 15% / .9)
    );
    z-index: 3;
    position: relative;
}
/*UNIVERSAL LOWERTHIRD ANIMATION & SUBMENU*/
.universal-lowerthird-wrapper{
    opacity: .94;
    transition: all ease-in-out .4s;
}
.universal-lowerthird-wrapper:hover{
    opacity: 1;
    cursor: pointer;
    filter: brightness(105%);
}
.universal-lowerthird-wrapper:hover+.universal-lowerdescription{
    filter: blur(5px);
}
/* UNIVERSAL DESCRIPTION */
.universal-lowerdescription{
    color: var(--color-white);
    text-align: start;
    padding: 5% 7%;
    align-self: flex-end;
    width: fit-content;
}
.universal-lowerdescription h1:nth-of-type(1){
    font-size: calc((.9 * 16) * 0.08333vw);
}
.universal-lowerdescription .btn{
    border: 1px solid white;
    width: fit-content;
    padding: 1% 2%;
    margin-top: calc((1 * 5) * 0.08333vw);
    margin: calc((1 * 6) * 0.08333vw) 0px;
}
.universal-lowerdescription h1:nth-of-type(2){
    font-size: calc((.8 * 16) * 0.08333vw);
    margin-top: calc((1 * 5) * 0.08333vw);
    text-decoration: line-through;
}
.universal-lowerdescription h1:nth-of-type(3){
    color: var(--color-theme);
    margin-top: calc((1 * 4) * 0.08333vw);
    font-size: calc((1.3 * 16) * 0.08333vw);
}

/* MENU */
.menu-and-rating-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
}
.universal-menuitem{
    background-color: var(--color-white);
    margin: 10%;
    width: calc((1 * 40) * 0.08333vw);
    align-self: flex-end;
    height: calc((1 * 149.93) * 0.08333vw);
    border-radius: calc((1 * 45) * 0.08333vw);
    padding: 4% 0%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    position: relative;
}
	.universal-menuitem svg{
	    align-self: center;
	    width: calc((1 * 15) * 0.08333vw);
	    height: calc((1 * 15) * 0.08333vw);
	    margin: auto;
	    stroke: #AAAAAA;
	}
	.universal-menuitem svg:hover{
	    cursor: pointer;
        stroke: var(--color-theme);
        transform: scale(1.2);
	}
	.universal-menuitem svg:nth-of-type(1){
	    fill: #fe6c6c;
        stroke: #fe6c6c;
	}
    .universal-menuitem svg:nth-of-type(2){
        fill: none;
    }
    .universal-menuitem svg:nth-of-type(2):hover{
        stroke: #fe6c6c;
    }
    /*SUBMENU*/
    .universal-menuitem .subsubmenu{
        position: absolute;
        background-color: var(--color-white);
        width: calc((1 * 75) * 0.08333vw);
        height: calc((1 * 20) * 0.08333vw);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-theme);
        border-radius: calc((1 * 4) * 0.08333vw);
        right: 130%;
        font-size: calc((.5 * 16) * 0.08333vw);
        opacity: 0;
        transition: opacity 300ms ease-in-out 0s;
    }
    .universal-menuitem .subsubmenu::before{
        content: '';
        position: absolute;
        left: 99%;
        width: calc((1 * 20) * 0.08333vw);
        height: calc((1 * 10) * 0.08333vw);
        border-width: calc((1 * 5) * 0.08333vw) calc((1 * 5) * 0.08333vw);
        border-style: solid;
        border-color: transparent;
        border-left-color: var(--parentcolor);
    }
    .universal-menuitem .subsubmenu:nth-of-type(1):hover{
        opacity: 1;
    }
    .universal-menuitem .subsubmenu:nth-of-type(1){
        top: 5%;
        display: flex;
        justify-content: space-evenly;
        opacity: 0;
        transition: opacity 300ms ease-in-out .3s;
        --parentcolor: var(--color-white);
    }
    .universal-menuitem .subsubmenu:nth-of-type(1) .color{
        width: calc((1 * 10) * 0.08333vw);
        height: calc((1 * 10) * 0.08333vw);
        border-radius: 100%;
        transition: transform 50ms ease;
    }
        .universal-menuitem .subsubmenu:nth-of-type(1) .color:nth-of-type(1){
            background-color: #82D8C6;
        }
        .universal-menuitem .subsubmenu:nth-of-type(1) .color:nth-of-type(2){
            background-color: #CA82D8;
        }
        .universal-menuitem .subsubmenu:nth-of-type(1) .color:nth-of-type(3){
            background-color: #FE6C6C;
        }
        .universal-menuitem .subsubmenu:nth-of-type(1) .color:nth-of-type(4){
            background-color: #333333;
        }
        .universal-menuitem .subsubmenu:nth-of-type(1) .color:hover{
            cursor: pointer;
            transform: scale(1.15);
        }
    .universal-menuitem .subsubmenu:nth-of-type(2){
        top: 24%;
        --parentcolor: var(--color-outofstock);
        background-color: var(--color-outofstock);
        color: var(--color-white);
    }
    .universal-menuitem .subsubmenu:nth-of-type(3){
        top: 43%;
        --parentcolor: var(--color-theme);
        background-color: var(--color-theme);
        color: var(--color-white);
    }
    .universal-menuitem .subsubmenu:nth-of-type(4){
        top: 61%;
        --parentcolor: var(--color-theme);
        background-color: var(--color-theme);
        color: var(--color-white);
    }
    .universal-menuitem .subsubmenu:nth-of-type(5){
        top: 81%;
        --parentcolor: var(--color-theme);
        background-color: var(--color-theme);
        color: var(--color-white);
    }
    .universal-menuitem svg:hover + .subsubmenu{
        opacity: 1;
        transition: opacity 300ms ease-in-out 0s;
    }
    .universal-menuitem .subsubmenu:nth-of-type(1) .color{
        width: calc((1 * 10) * 0.08333vw);
        height: calc((1 * 10) * 0.08333vw);
        border-radius: 100%;
    }

/* RATING */
.universal-lowerrating{
    width: 100%;
    align-self: flex-end;
    height: calc((1 * 15) * 0.08333vw);
    margin: 
    0px calc((1 * 10) * 0.08333vw) calc((1 * 15) * 0.08333vw) 0px;
}
	.universal-lowerrating img{
		width: calc((1 * 15) * 0.08333vw);
	}
    .universal-lowerrating img:hover{
        transform: scale(1.2);
        filter: brightness(105%);
    }
	.universal-lowerrating h1:nth-of-type(1){
		font-size: calc((.9 * 16) * 0.08333vw);
	}
	.universal-lowerrating .btn{
        border: 1px solid white;
        width: fit-content;
        padding: 1% 2%;
        margin-top: calc((1 * 5) * 0.08333vw);
        margin: calc((1 * 6) * 0.08333vw) 0px;
    }
    .universal-lowerrating h1:nth-of-type(2){
        font-size: calc((.8 * 16) * 0.08333vw);
        margin-top: calc((1 * 5) * 0.08333vw);
        text-decoration: line-through;
    }
    .universal-lowerrating h1:nth-of-type(3){
        color: var(--color-theme);
        margin-top: calc((1 * 4) * 0.08333vw);
    }



    @media screen and (max-width: 769px) {
      
    }